---
title: Padrino-Docu
---

<div><p>Hello! This is our first version of Padrino-Documentation website. Enjoy!</p>
<a href="/guides/blog-tutorial.html">Blog tutorial</a>
<a href="/guides/controllers.html">Controllers</a></div>
